<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.com.patadeperro">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service
            android:name="pe.com.patadeperro.presentation.utils.MyFirebaseMsgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <activity
            android:name="pe.com.patadeperro.presentation.ui.activities.a00MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a10UserAddListActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a12UserUpdDelActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a20PetAddListActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a22PetUpdDelActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a28PetSplashActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a30LostAddListActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a32LostUpdDelActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a38LostSplashActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a40AbuseAddListActivity" />
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.a42AbuseUpdDelActivity" />

        <activity android:name="pe.com.patadeperro.presentation.ui.activities.MapboxActivity"></activity>
        <activity android:name="pe.com.patadeperro.presentation.ui.activities.MapLocActivity"></activity>

        <service android:name="pe.com.patadeperro.presentation.utils.HelloIntentService" />

        <meta-data
            android:name="pe.com.patadeperro.presentation.utils.GlideConfiguration"
            android:value="GlideModule" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider566428013549380"
            android:exported="true" />

        <activity
            android:name="pe.com.patadeperro.presentation.ui.activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pe.com.patadeperro.presentation.ui.activities.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pe.com.patadeperro.presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>